body{background-color: rgb(255, 238, 2); text-align: justify; font-size: x18px;}
h1{text-align: center;background-color: #ffffff;color: rgb(247, 243, 8);}
h3{text-align: justify;color: blueviolet;}
b{color: blueviolet;font-size: 18px;}
i{color: blueviolet; font-size: 18px;}
heder,footer{background-color: blueviolet; color: #ffffff;text-align:center; font-size: 20px; }
main{background-color: blueviolet;}
