Body{background-color: rgb(245, 232, 114); text-align: justify; font-size: 18px;}
H1{text-align: center;background-color: #f5df1f;color: rgb(14, 13, 13);}
H3{text-align: justify;color: rgb(228, 243, 22);}
B{color: rgba(238, 202, 1, 0.021);font-size: 18px;}
I{color: rgb(231, 235, 23); font-size: 18px;}
Head,Footer{background-color: rgb(0, 0, 0); color: #ffffff;text-align:center; font-size: 20px; }
Main{background-color: rgb(252, 237, 106);}
